.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
}

.main-last-comments {
    display: flex;
    justify-content: center;
}

.last-comments {
    width: 100%;
    max-width: 900px;
    height: 100%;
    background-color: #e4e4e4;
    cursor: pointer;
    margin: 10px 0;
}

.last-comments__box {
    border-radius: 10px;
    background-color: #fff;
}

.comment-icon {
    font-size: 30px;
    color: #0156FF;
}

.comment-text {
    font-size: 14px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.username-comment {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}