.product-box {
    background-color: #fff;
    padding: 10px;
    transition: 0.1s;
    position: relative;
}

.product-box:hover {
    background-color: #f5f5f5;
    transform: scale(1.03);
    z-index: 6;
}

.product-box__img img {
    width: 150px;
    height: 150px;
}

.tick-icon {
    font-size: 15px;
    color: green;
}

.product-close-icon {
    color: red;
    font-size: 15px;
}

.product-desk {
    font-size: 13px;
}

del {
    color: rgba(196, 0, 0, 0.486);
}

.product-box-btn {
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0;
    transition: 0.1s;
    width: 80%;
    margin: 0 10px;
}

.add-product__btn {
    border: 2px solid #0156FF;
    color: #0156FF;
    padding: 8px 0;
    background-color: transparent;
}

.add-product__btn:active {
    background-color: #0156FF;
    color: #fff;
}

.show-product__btn {
    border: none;
    background-color: rgb(8, 8, 8);
    transition: 0.2s;
}

.show-product__btn a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-product__btn a:hover {
    color: #fff;
}

.show-product__btn:hover {
    background-color: #0156FF;
}

.product-box-btn:disabled {
    border: 2px solid #555555;
    color: #555555;
    opacity: 0.5;
}

.product-box-link {
    text-decoration: none;
}