.toast-box.active{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    right: 30px;
    background-color: rgba(20, 20, 20, 0.733);
    padding: 10px ;
    z-index: 9999;
    border-radius: 5px;
    transition: 0.3s;
    width: 300px;
}

.toast-icon{
    color: green;
    margin-left: 10px;
}
.toast-text{
    color: #fff;
    font-size: 18px;
}
.toast-close__icon{
    color: rgba(255, 253, 253, 0.637);
    margin-right: 30px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}
.toast-close__icon:hover{
    background-color: rgba(192, 192, 192, 0.411);
    color: #fff;
    border-radius: 50%;
    padding: 1px;
}