.breadcrumb-back{
    text-decoration: none;
}
.breadcrumb-this-page::before{
    content: '/';
    margin-right: 15px;
}
.breadcrumb-this-page{
    font-size: 15px;
}
.breadcrumb-back{
    font-size: 15px;
}